body {
  font-family: "Courier New", Courier, monospace;
  width: 60%;
  margin: 0 auto;
}

h2 {
  font-weight: bold;
  text-decoration: underline;
  font-size: 30px;
  color: #3c3c3c;
}

h3 {
  font-weight: bold;
  font-size: 20px;
  color: #555555;
}

h4 {
  color: #555555;
}

p {
  text-align: justify;
}

figure {
  margin: 0;
}

figcaption {
  text-align: center;
}

img {
  width: 100%;
}

#header {
  margin-top: 25px;
}

#imagen_descripcion {
  display: inline-block;
  text-align: center;
  width: 30%;
  float: right;
  margin-left: 15px;
  border: 1px solid black;
}

#descripcion {
  width: 70%;
}
